# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
end_node/build/CMakeFiles/feature_tests.cxx
end_node/build/test/runners/test_fsm_functions_runner.c
end_node/build/test/results/test_fsm_functions.pass
end_node/build/test/preprocess/files/test_fsm_functions.c
end_node/build/test/dependencies/force_build
end_node/build/test/cache/test_fsm_functions.c
end_node/build/test/cache/defines_dependency.yml
end_node/build/CMakeFiles/feature_tests.cxx
end_node/build/CMakeFiles/feature_tests.bin
end_node/build/CMakeFiles/CMakeOutput.log
end_node/build/CMakeFiles/cmake.check_cache
end_node/build/CMakeFiles/3.18.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
end_node/build/CMakeFiles/3.18.1/CompilerIdC/CMakeCCompilerId.c
end_node/build/CMakeFiles/3.18.1/CMakeSystem.cmake
end_node/build/CMakeFiles/3.18.1/CMakeRCCompiler.cmake
end_node/build/CMakeFiles/3.18.1/CMakeDetermineCompilerABI_CXX.bin
end_node/build/CMakeFiles/3.18.1/CMakeDetermineCompilerABI_C.bin
end_node/build/CMakeFiles/3.18.1/CMakeCXXCompiler.cmake
end_node/build/CMakeFiles/3.18.1/CMakeCCompiler.cmake
end_node/build/CMakeCache.txt
end_node/build/.cmake/api/v1/query/client-vscode/query.json
end_node/build/.cmake/api/v1/query/client-vscode/query.json
end_node/build/test/cache/test_fsm_functions.c
end_node/build/test/cache/defines_dependency.yml
